#login-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

#login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 580px;
  max-width: 455px;
  align-items: center;
  background-color: #E7E2E2;
  border-radius: 10px;
}

#login-to-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  background-color: #C6BDBD;
}

#login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-button {
  margin: 10px 0px 10px 0px;
}